
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #d1d8e0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Equal gaps on all sides */
    box-sizing: border-box;
}

.heading{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.heading h3{
    font-weight: bold;
}
textarea,select,input::placeholder
{
    font-weight: lighter;
    font-size: smaller;
}

/* Container and Panels */
.container {
  
    height: 90vh ;
    width: 70vw;
    margin: 5vh auto;
    border-radius: 6px;
    background-color:white;
    box-shadow: 0px 0px 3px;
    position: relative;
    overflow: hidden;
}
.left-container{
    height: 100%;
    color: white;
    background-color: #3b37fe;
    position: absolute;left: -20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.r-container{
    margin: 14px;
    position: absolute;right: -20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.right-panel {
    flex-wrap: wrap;
    border-bottom-left-radius: 7vh;
    background-color: white;
    padding: 30px;
    height: 68vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color:  #2a2f42 whitesmoke;}

.form-group {
    margin-bottom: 15px;
}

.college-dropdown {
    appearance: none;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#college-type {
    font-size: smaller;
    padding: 8px;
    opacity: 0.8;
}
.logo{
    margin-bottom: 18vh;
}
.asterik {
    color: red;
}

.form-check-label {
    font-weight: normal;
}


.btn-primary {
    width: 100%;
    background-color: #2a2f42;
}

.invalid-feedback{
    font-size: small;
}

.logo-head{
    display: none;
}
.university-heading{
    position: sticky;
    top:2px;
    z-index: 1000;
}
  .carousel-inner {
    /* display: none; */
    position: relative;
    z-index: 1000;
  }

  /* .carousel-item {
    text-align: center;
  } */
  
  .carousel-item img {
    display: inline-block;
    max-height: 500px;
    transform: translateY(1%);
    margin-bottom: 20vh;
    border-radius: 10px;
  }

/* .left-container {
    padding-right: 1rem;
} */

.nav-button{
   
}

.right-container {
    /* display: none; */
    padding-left: 1rem;
    background-color: white;
}

.left-panel .carousel {
    width: 100%;
    height: 100%;
}

footer{
    
    font-size: small;
    opacity: 0.7;
    color:  #2a2f42;;
    position: fixed;
    margin-top: 97vh;
}

.container-foot{
    display: none;
}
.logo img{
    position:relative;
    left:-20px;
}

.left-container p{
    opacity: 0.8;
    font-weight: lighter;
    font-size: smaller;
    margin-top: 50px;
}

label{
    font-size: 13px;
    color: #92949a;
}
.invalid-feedback{
    font-size: 10px;
}

.l-panel{
    margin:20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.step-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    width: 95%;
}
.indicator-line {
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background:  #D1D8F2;
    flex: 1;
  }

.step-indicators {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

.step-icon {
    margin: 0px;
    height: 8px;
    width: 8px;
    background-color:  #d1d8e0;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-icon.active {
    background-color: #007bff;
    color: #fff;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

#prevBtn, #nextBtn, #submitBtnContainer button {
    width: 100px;
    margin: 10px;
}
.nav-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Responsive Styling */


@media (max-width: 767px) {
    .container{
        height: 100%;
        width: 100%;
    }
    .left-container{
        display: none;
    }
    .right-container{
        width: 100%;
        height: 100%;
    }
    .step-indicators{
        margin-bottom:0px;
    }
}
@media (max-width: 577px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    .container{
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }

    /* .right-container{
        width: 100px;
        overflow: hidden;
    } */
}

@media (max-height: 700px) {
    .container{
        overflow: auto;
        overflow-x: hidden;
        width: 80%;
    }

    
    .left-container{
        display: none;
    }
    .r-container{
        width: 100%;
    }
    .carousel-inner,.carousel-control-prev,.carousel-control-next,.carousel-indicators,.footer{
        display: none;
    }
    .logo{
        margin-top: 30vh;
        margin-bottom: 50vh;
    }
    .contact-numbers>input{
        width: 33px;
    }

}

@media (max-height: 252px) {
     .right-panel{
        height: 55vh;
        padding-top: 11vh;
     }
     .right-container{
        max-height: 20vh;
        padding: 0px;
        margin: 0px;
     }
     .form-group {
        margin-top: 0px;
        margin-bottom: 2px;
    }

    }

    